html(lang="es")
    head
        meta(charset="utf-8")
        title "Hello world with GulpJS and ES6"
    body
        h1 "Hello World with GulpJSS and ES6"
        h2 "Converting this JADE Template to HTML"